<!DOCTYPE html>
<html>
<head>
<title>News2Change</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>News2Change</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#news" class="w3-bar-item w3-button">News</a>
      <a href="#change" class="w3-bar-item w3-button">Change</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="./img/main_photo.jpg" alt="Change for Good Poster" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>News2Change</b></span> </h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- News Section -->
  <div class="w3-container w3-padding-32" id="news">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">News</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://www.nytimes.com/2022/03/22/climate/youth-climate-protests.html"> <div class="w3-display-topleft w3-black w3-padding">Follow the global youth protests this week</div></a>
        <br>
        <p>Somini Sengupta, <i>New York Times</i></p>
        <p>March 03, 2022</p>
        <img src="https://static01.nyt.com/images/2022/03/21/climate/21cli-newsletter-protests/21cli-newsletter-protests-facebookJumbo.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://www.bbc.co.uk/news/world-us-canada-61072741"> <div class="w3-display-topleft w3-black w3-padding">New York officers who shoved protester to be reinstated</div></a>
        <br>
        <br>
        <p>BBC News, <i>BBC News</i></p>
        <p>April 11, 2022</p>
        <img src="https://ichef.bbci.co.uk/news/1024/branded_news/B93E/production/_124122474_mediaitem112735194.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://www.nytimes.com/2022/04/16/sports/baseball/cleveland-guardians.html"> <div class="w3-display-topleft w3-black w3-padding">Cleveland Guardians Nickname Is Difficult for Some Fans</div></a>
        <br>
        <br>
        <p>David Waldstein, <i>New York Times</i></p>
        <p>April 16, 2022</p>
        <img src="https://static01.nyt.com/images/2022/04/16/multimedia/16mlb-guardians-top/16mlb-guardians-top-facebookJumbo.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://www.bbc.co.uk/news/world-us-canada-61102065"> <div class="w3-display-topleft w3-black w3-padding">Video shows fatal US police shooting of black man</div></a>
        <br>
        <br>
        <p>BBC News, <i>BBC News</i></p>
        <p>April 14, 2022</p>
        <img src="https://ichef.bbci.co.uk/news/1024/branded_news/11842/production/_124164717_mediaitem124164709.jpg" alt="House" style="width:100%">
    </div>
  </div>

  <!-- Change Section -->
    <div class="w3-container w3-padding-32" id="change">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Change</h3>
    </div>

  <button onclick="getLocation()">Find my representatives</button>

  <p id="demo"></p>
  <script>

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
    }
  }

  function showPosition(position) {


    window.open("/reps?lat=" + position.coords.latitude + "&long=" + position.coords.longitude)
  }
  </script>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>News2Change identifies news trends happening near you and across the country in a few clicks. 
      Local representatives are also shown to make advocacy more accessible. We utilized News API, 
      Google Civic Information API, Geolocation API, and Javascript to build our app. We initially had 
      trouble extracting the location of the user, but we implemented a geolocation API that asks for the 
      user's permission and successfully outputs the coordinates of the user. News2Change has the potential 
      to reach a large range of users. Anyone who cares about the news can make an impact by contacting 
      their local representatives about issues that matter to them. Throughout the development of 
      News2Change, we encountered many detours from our original plans. Many of these obstacles turned 
      out to provide valuable advice on the website's design. We plan to keep improving our user interface 
      to make the website more user-friendly. We will also add more features to narrow down news articles 
      to suit the user's preferences.

    </p>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch.</p>
    <form action="/contacted" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

<!-- Image of location/map -->
<!--<div class="w3-container">
  <img src="map.jpg" class="w3-image" style="width:100%">
</div>-->

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="./" title="News2Change" target="_blank" class="w3-hover-text-green">News2Change</a></p>
</footer>

</body>
</html>
